<p id="notice"><%= notice %></p>

<h1>Listing Actors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Weight</th>
      <th>Gender</th>
      <th>Body height</th>
      <th>Shoulder width</th>
      <th>Shoulder height</th>
      <th>Inner leg length</th>
      <th>Tibia length</th>
      <th>Body depth</th>
      <th>Hip width</th>
      <th>Seat height</th>
      <th>Shoulder elbow length</th>
      <th>Elbow wrist length</th>
      <th>Chest girth</th>
      <th>Waist girth</th>
      <th>Thigh girth</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @actors.each do |actor| %>
      <tr>
        <td><%= actor.name %></td>
        <td><%= actor.weight %></td>
        <td><%= actor.gender %></td>
        <td><%= actor.body_height %></td>
        <td><%= actor.shoulder_width %></td>
        <td><%= actor.shoulder_height %></td>
        <td><%= actor.inner_leg_length %></td>
        <td><%= actor.tibia_length %></td>
        <td><%= actor.body_depth %></td>
        <td><%= actor.hip_width %></td>
        <td><%= actor.seat_height %></td>
        <td><%= actor.shoulder_elbow_length %></td>
        <td><%= actor.elbow_wrist_length %></td>
        <td><%= actor.chest_girth %></td>
        <td><%= actor.waist_girth %></td>
        <td><%= actor.thigh_girth %></td>
        <td><%= link_to 'Show', actor %></td>
        <td><%= link_to 'Edit', edit_actor_path(actor) %></td>
        <td><%= link_to 'Destroy', actor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Actor', new_actor_path %>
