<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @actor.name %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @actor.weight %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @actor.gender %>
</p>

<p>
  <strong>Body height:</strong>
  <%= @actor.body_height %>
</p>

<p>
  <strong>Shoulder width:</strong>
  <%= @actor.shoulder_width %>
</p>

<p>
  <strong>Shoulder height:</strong>
  <%= @actor.shoulder_height %>
</p>

<p>
  <strong>Inner leg length:</strong>
  <%= @actor.inner_leg_length %>
</p>

<p>
  <strong>Tibia length:</strong>
  <%= @actor.tibia_length %>
</p>

<p>
  <strong>Body depth:</strong>
  <%= @actor.body_depth %>
</p>

<p>
  <strong>Hip width:</strong>
  <%= @actor.hip_width %>
</p>

<p>
  <strong>Seat height:</strong>
  <%= @actor.seat_height %>
</p>

<p>
  <strong>Shoulder elbow length:</strong>
  <%= @actor.shoulder_elbow_length %>
</p>

<p>
  <strong>Elbow wrist length:</strong>
  <%= @actor.elbow_wrist_length %>
</p>

<p>
  <strong>Chest girth:</strong>
  <%= @actor.chest_girth %>
</p>

<p>
  <strong>Waist girth:</strong>
  <%= @actor.waist_girth %>
</p>

<p>
  <strong>Thigh girth:</strong>
  <%= @actor.thigh_girth %>
</p>

<%= link_to 'Edit', edit_actor_path(@actor) %> |
<%= link_to 'Back', actors_path %>
