<p id="notice"><%= notice %></p>

<p>
  <strong>Actor:</strong>
  <%= @motion.actor %>
</p>

<p>
  <strong>Bvh file:</strong>
  <%= @motion.bvh_file %>
</p>

<p>
  <strong>C3d file:</strong>
  <%= @motion.c3d_file %>
</p>

<p>
  <strong>Role:</strong>
  <%= @motion.role %>
</p>

<p>
  <strong>Mood:</strong>
  <%= @motion.mood %>
</p>

<p>
  <strong>Attribute 1:</strong>
  <%= @motion.attribute_1 %>
</p>

<p>
  <strong>Attribute 2:</strong>
  <%= @motion.attribute_2 %>
</p>

<p>
  <strong>Attribute 3:</strong>
  <%= @motion.attribute_3 %>
</p>

<p>
  <strong>Attribute 4:</strong>
  <%= @motion.attribute_4 %>
</p>

<p>
  <strong>Attribute 5:</strong>
  <%= @motion.attribute_5 %>
</p>

<%= link_to 'Edit', edit_motion_path(@motion) %> |
<%= link_to 'Back', motions_path %>
