<div class="signup">
	<div class="container">
		<div class="form">

			<h1>Sign up</h1>
			<div class="signupcont">
				<%= form_for(@user) do |f| %>

					<%= render 'shared/error_messages' %>

					<div><%= f.text_field :username, :placeholder => "Username", class: 'mocap-textbox' %></div>
					<div><%= f.password_field :password, :placeholder => "Password", class: 'mocap-textbox' %></div>
					<div><%= f.password_field :password_confirmation, :placeholder => "Confirm Password", class: 'mocap-textbox' %></div>
					<div><%= f.submit "Create an account", class: "btn-default btn mocap-textbox mocap-textbox-hov" %></div>

				<% end %>
			</div>
		</div>
	</div>
</div>
