<!DOCTYPE html>
<html>

	<head>

		<title>mocap</title>

		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= stylesheet_link_tag     'application', media: 'all' , 'data-tourbolinks-track' => true %>

		<%= csrf_meta_tags %>


		<script type="text/javascript"></script>

		<!-- Custom Fonts -->
		<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	</head>

	<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">


		<!-- Navigation -->
		<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
						<i class="fa fa-bars"></i>
					</button>
					<a class="navbar-brand page-scroll" href="#page-top">
						<i class="fa fa-play-circle"></i>  <span class="light">Mocap</span> database
					</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
					<ul class="nav navbar-nav">
						<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
						<li>
							<a class="page-scroll" href="#page-top">home</a>
						</li>
						<li>
							<a class="page-scroll" href="#about">about</a>
						</li>
						<li>
							<a class="page-scroll" href="#contact">contact</a>
						</li>
						<li>
							<a href="/searchDB">search db</a>
						</li>
						<li>
							<a href="/login">login</a>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container -->
		</nav>





		<div>
			style="padding-top:110px">
		</div>

		<%= yield %>

		<!-- Footer -->
		<footer>
			<div class="container text-center">
				<p>Copyright &copy; TH Köln</p>
			</div>
		</footer>
		
		<%= javascript_include_tag 'page-scroll-annimation', 'data-turbolinks-track' => true %>

	</body>
</html>
